{% load static %}
{% load markdown_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/prism.min.css' %}" />
    <title>Document</title>
    <!-- <style>
        * {
            color: orange;
        }
    </style> -->
</head>
<body>
    <h1>Prueba</h1>
    {% for post in object_list %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.body | markdown | safe }}</p>
    {% endfor %}
     <script src="{% static 'js/prism.min.js' %}"></script>
</body>
</html>